<html>
<head>
    <title>Create Product</title>
</head>
<body>
    <h2>Create New Product</h2>  
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <label>Product_ID:</label>
            {{form.pid}}
        </div>
        <br>
        <div>
            <label>Product_Name:</label>
            {{form.pname}}
        </div>
        <br>
        <div>
            <label>Price:</label>
            {{form.price}}
        </div>
        <br>
        <div>
            <label>Quantity:</label>
            {{form.qty}}
        </div>
        <br>
        <div>
            <input type="submit" value="submit"/>
        </div>
    </form>  
</body>
</html>